.articleBody {
  padding: 2rem 0;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .showCode {
      margin-right: .5rem;
      padding: 1rem .5rem;
      border: solid 1px rgba(#111827, 0.1);
    }
    .articleContent {
      .breadcrumbs {
        margin-bottom: 0.25rem;
        font-size: 0.75rem;
      }
      .articleTitle {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .createdAt {
        margin-bottom: 1.5rem;
        font-size: 0.5rem;
      }
      .articleText {
        font-size: .75rem;
      }
    }
  }
}