.container {
  width: 76%;
  max-width: 76%;
  margin: 0 auto;
}

.iconSmall {
  width: 1.5rem;
  height: 1.5rem;
}

.iconBase {
  width: 2rem;
  height: 2rem;
}

.iconChevron {
  width: 2.25rem;
  height: 1.125rem;
}