.container {
  width: 76%;
  margin: 0 auto;
}

.iconSmall {
  width: 1.5rem;
  height: 1.5rem;
}

.iconBase {
  width: 2rem;
  height: 2rem;
}

.iconChevron {
  width: 2.25rem;
  height: 1.125rem;
}

@media screen and (max-width: 1024px) { 
  .container {
    width: 82.5%;
  }
  .iconChevron {
    width: 4rem;
    height: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .container {
    width: 90%;
  }

  .iconChevron {
    width: 3rem;
    height: 1.5rem;
  }
}
