.header {
  width: 100vw;
  margin-bottom: 3rem;
  padding: 2.25rem 0;
  border-bottom: solid 1px rgba(#111827, 0.1);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      display: flex;
      li {
        &:hover {
          opacity: .7;
        }
        &:not(:last-child) {
          margin-right: 1rem;
          transition: .3s;
        }
      }
    }
    h1 {
      font-size: 2.25rem;
      font-weight: 600;
    }
    .searchBtn {
      padding: 1rem 2.25rem;
      background: #14B8A6;
      border-radius: 0.25rem;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      transition: .3s;
      .icon {
        width: 2.625rem;
        height: 2.625rem;
        color: #f8fafc;
      }
      &:hover {
        box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
}